body {
  font-family: arial, sans-serif;
  font-size: 13px;
}

/* Header */
header {
  width: 100%;
  line-height: 40px;
}

.top-navbar {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding-top: 10px;
  padding-right: 20px;
  -ms-align-items: center;
  align-items: center;
}

.top-navbar a {
  margin: 0 10px;
}

a img {
  vertical-align: middle;
}

.user {
  border-radius: 25px;
}

.user:hover {
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border: 2px solid black;
}

#grid-icon {
  height: 25px;
  width: 25px;
  opacity: .5;
}

#grid-icon:hover {
  opacity: 1;
}

/* Main body */

.logo {
  padding-top: 130px;
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
  text-align: center;
}

#searchbox {
  display: block;
  margin: 15px auto 20px auto;
  width: 582px;
  height: 44px;
  border-radius: 24px;
  font-size: 18px;
  padding-left: 40px;
  border: 1px solid #dfe1e5;
  background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-512.png');
  background-repeat: no-repeat;
  -webkit-background-size: 20px 20px;
  background-size: 20px 20px;
  background-position: left;
  -ms-background-position-x: 12px;
  background-position-x: 12px;
}

.search-text input:hover, .search-text input:focus {
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
  outline: none;
}

.submit-buttons {
  text-align: center;
}

.submit-buttons input {
  border-radius: 4px;
  color: rgb(95, 99, 104);
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #f2f2f2;
  background-color: rgb(242, 242, 242);
}

.submit-buttons input:hover {
  border: 1px solid rgb(198, 198, 198);
  color: rgb(34, 34, 34);
}

/* Footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  border: 1px solid lightgray;
  line-height: 40px;
}

.country {
  text-decoration: none;
  color: rgba(0, 0, 0, .54);
  padding-left: 27px;
  border-bottom: 1px solid #e4e4e4;
  font-size: 14px;
  margin: 0;
}

.footer-top {
  border-bottom: 1px solid #e4e4e4;
}

.bottom-navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 27px;
  padding-right: 27px;
  margin-right: -17px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: rgba(0, 0, 0, .60);
  font-size: 14px;
  -ms-align-self: auto;
  align-self: auto;
  vertical-align: middle;
}

nav a:hover {
  text-decoration: underline;
}
